size-quad(argument)
  width argument
  height argument

html, body
  overflow hidden
  size-quad 100%
  margin 0
  padding 0
  background-color darkgrey;
  font-family "Times New Roman"

#app
  background-color slategrey

#cinematic-area, #render-area
  size-quad 100%
  touch-action none
